body{background-color: #F4F5F6!important;}
a{text-decoration: none!important;}
#navigation{
    background-color: #FFF;
    z-index: 998;
    width: 60px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    position: fixed!important;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    left: 0;
    bottom: 0;
    top: 0;
}
#main-content {
    margin-left: 60px!important;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-radius: 0.2rem;
    border: 1px solid #27AE60!important;
    outline: 0;
    box-shadow: none;
}
/* .btn:focus {
    outline: 0;
    box-shadow: none;
} */
.ml-60 {
    margin-left: 60px!important;
}
.mt-56 {
    margin-top: 56px!important;
}
.text-success{
    color: #0BC619!important;
}
.text-muted {
    color: #AFB5C1!important
}
.btn-success {
    color: #fff;
    background-color: #27AE60!important;
    border-color: #27AE60!important;
}
.dropdown-md{
    width: 270px;
}
.dropdown-search{
    width: 290px;
    background: #FFF;
    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.dropdown-menu .with-arrow {
    position: absolute;
    height: 10px;
    overflow: hidden;
    width: 40px;
    top: -10px;
}
.primary-color {
    background: #0BC619;
}
.dropdown-menu.dropdown-menu-right .with-arrow {
    right: 0;
}
.dropdown-menu.dropdown-menu-right .with-arrow > span {
    right: 20px;
    /* left: auto; */
}
.dropdown-menu .with-arrow > span {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    width: 15px;
    height: 15px;
    top: 3px;
    left: 15px;
    position: absolute;
    content: "";
    border-radius: 6px 0 0;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b!important;
    text-decoration: none;
    background:#f8f9fa !important;
}
.font-xsmall{
    font-size: x-small
}
.font-small{
    font-size: small
}
.font-medium{
    font-size: medium
}
.font-large{
    font-size: large
}
.font-bold{
    font-weight: 600;
}
.border-radius-top-only {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.notifications .notification-center {
    max-height: 317px;
    overflow: auto;
    position: relative;
}
.notification-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    text-decoration: none;
    padding: 9px 15px;
    width: 100%;    
}
.notification-content span {
    display: block;
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notification-content .notification-main {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.notification-item:hover {
    text-decoration: none;
    background: #EFEFEF;
}
.notification-bucket .item:hover {
    text-decoration: none;
    background: #EFEFEF;
}
.notification-count {
    background: #FFF;
    color: #0BC619;
    padding: 1px 5px;
    border-radius: 4px;
    font-size: smaller;
}
.list-style-none{
    list-style: none!important;
}
.nyumbani-search {
    width: auto;
}
.search-me > .input-group-text {
    color: #343A40!important;
    background-color:#FFF!important;
    border: 1px solid  #FFF!important;
}
.search-input:focus {
    border: 0!important;
}
#navigation .logo-icon {
    height: 50px;
    background:#0BC619;
}
#navigation .icon-disp {
    margin: 0;
    top: 0;
    left: 0;
    align-items: center;
    display: grid;
    justify-items: center;
}
#navigation .icon-content {
    height: 40px;
    width: 100%;
}
.ticket-rotate {
    transform: rotate(-45deg);
}
#navigation .icon-link {
    text-decoration: none;
    color: #808B96!important;
    background: inherit;
    height: 50px;
}
#navigation .icon-font {
    height: 40px;
    width: 100%;
    background: inherit;
    color: inherit;
}
#navigation .icon-font:hover {
    text-decoration: none;
    color: #0BC619!important;
    border-radius: 0.5rem;
}
#navigation .active, #navigation .active:hover {
    height: 40px;
    width: 100%;
    background: #0BC619!important;
    color: #FFF!important;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.15);
}
.big-disp {
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #7FB3D5 0%, #75D19C 74%);
}
.statistics tbody tr td span {
    display: block;
}
.image-center {
    display: block;
    text-align: center;
    margin: auto;
}
.th-theme {
    background: #D7FAD9;
}
.footer{
    padding: 2rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid#e5e5e5;
    bottom: 0;
    position: relative;
    width: 100%;
}
.setting-list > li {
    border-right: 0.25rem solid #FFF;
}
.setting-list > li:hover {
    text-decoration: none;
    background: #EFEFEF;
    border-right: 0.25rem solid #EFEFEF;
}
.setting-list > .active {
    border-right: 0.25rem solid limegreen;
    color: #0BC619!important
}
.setting-list > .active:hover {
    background: #FFF!important;
    border-right: 0.25rem solid limegreen;
    color: #0BC619!important
}
.table-sm th, .table-sm td {
    padding: 0.5rem!important;
}
table.dataTable.no-footer {
    border-bottom: 0px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #FFF;
    background-color: #27ae60;
    border-color: #27ae60 #27ae60#27ae60;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color:#27ae60;
    background-color: #27ae60;
}
.tooltip {
    pointer-events: none;
    font-family: inherit;
    font-size: 0.835rem !important;
} 
.tooltip .arrow {
    display: none;
}
.tooltip .tooltip-inner {
    background: rgba(0, 0, 0, 0.7);
}
.tooltip {
    font-size: 12px!important;
}
.background-white{
    background: #FFF!important;
}
.card-title{
    margin-bottom: 2rem;
    font-size: 1rem;
    /* font-weight: 600; */
}.shadow-wd{
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.15);
}
.invisible-background{
    background: #F4F5F6!important;
}
.bg-info-bright {
    background: rgba(51, 181, 229, 0.3) !important;
}